<a href="https://colab.research.google.com/github/RojaCM/ML-things/blob/main/CATEGORICAL%20ENCODING%20TECHNIQUES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#HOW TO ENCODE THE CATEGORICAL VARIABLE INTO NUMERICAL VARIABLE

In [2]:
#categorical variables are genrally reffered/addressed as categories or strings and are finite in number.
#1.a department a person works in : sales,hr,finance 
#2.a highest degree a person has : be,ba

#ORDINAL data : THE VALUES FOLLOW some order.the sequence is important. when encoding the ordinal data,we need to retain the information regarding the order in which category is
#provided.the degree of a person gives us a important information about his qualicfications. we cannot randomly assign a numbers to these degrees.


#nominal data : the categories cannot be ordered in any meaningful way.


#CATEGORICAL VARIABLE ENCODING TECHINQUES 

#1.FIND AND REPLACE : replace strings/texts into numerical valuees
#2.Label encoding : assigns each label with unique integer  based on alplhabetical ordering
#3.One-hot encoding : convert each category varaible into new column with 1 or 0 values

Find and replace
The simplest method of encoding categorical data is with find and replace. The replace() method replaces each matching occurrence of the old character in the string with the new character.

Here’s how it works:

Suppose there is a column named “number of cylinders” in a dataset and the highest cylinder a car can have is 4. The values this column contains cannot exceed 4. However, the problem is that all these values are written in text, such as “two”, “one”, etc. What we can do is directly replace these text values with their numeric equivalent by using the ‘replace’ function provided by Pandas.

numeric_var = {“num_cylinders”: {“four”:4, “three”:3, “two”:2, “one”:1}}
df = df.replace(numeric_var)

Here, we are creating a mapping dictionary that will map all the text values to their numeric values. This approach is very useful when dealing with ordinal data because we need to maintain the sequence.

In the above example of “a person’s degree”, we can map the highest degree to a greater number and the lowest degree to the lowest number.

Label encoding
In this approach, each label is assigned a unique integer based on alphabetical ordering. We can implement this using the Scikit-learn library.

import pandas as pd
import numpy as np
df = pd.read_csv(“cars_data.csv”)
df.head()

Label encoding with Scikit-learn library.webp

This dataset contains some null values, so it’s important to remove them.

Let’s look at the data type of these features:

df.info() 

data types in scikit-learn.webp

We can see that almost all the variables are represented by the object data type, except the “symboling” column.

Let’s encode the “body_style” column:

#import label encoder
from sklearn import preprocessing 
#make an instance of Label Encoder
label_encoder = preprocessing.LabelEncoder()
df[‘’body_style”] = label_encoder.fir_transform(data[‘body_style’)
df.head()

ways to encode categorical variable.webp

Image source: Practical Business Python

Since label encoding uses alphabetical ordering, “convertible” has been encoded with 0, “hatchback” has been encoded with 2, and “sedan” with 3. There must be another category in body_style that was encoded with 1.

If we look at the “body_style” column, we will notice that it does not have any order. If we perform label encoding on it, we will see that the column is ranked based on the alphabets. Due to this order, the model may capture some hypothetical relationship.

One-hot encoding
We generally use one-hot encoding to solve the disadvantage of label encoding. The strategy is to convert each category into a column and assign it a 1 or 0 value. It is a process of creating dummy variables.

Let’s see how we can implement it in Python:

In [6]:
import pandas as pd

#Creating a dataframe

Df = pd.DataFrame({'City':['Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Banglore','Delhi']})

In [9]:
df=Df.copy()

In [10]:
df

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7   Banglore
8      Delhi

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
encoder=OneHotEncoder()

In [46]:
import numpy as np
df.values.reshape(-1,1)

array([['Delhi'],
       ['Mumbai'],
       ['Hydrabad'],
       ['Chennai'],
       ['Bangalore'],
       ['Delhi'],
       ['Hydrabad'],
       ['Banglore'],
       ['Delhi']], dtype=object)

In [48]:
X = encoder.fit_transform(df)

In [17]:
df.shape

(9, 1)

In [49]:
cols=['city_'+str(i) for i in df['City']]

In [51]:
df1=pd.DataFrame(X,columns=cols)

ValueError: ignored

We can see from the table above that all the unique categories were assigned a new column. If a category is present, we have 1 in the column and 0 for others.

Since the data is sparse, it results in a dummy variable trap as the outcome of one variable can be predicted with the help of the remaining variables. This problem occurs when the variables are highly correlated to each other. It also leads to a collinearity problem which causes issues in various regression models.

There’s another problem with this method: if there are many unique categories and we want to encode them, we will have many extra columns. This will eventually increase the model complexity and time as it will take longer to analyze the relationship between the variables.

CONVERT CATEGORICAL DATA INTO NUMERICAL DATA USING PANDAS
Method 1: Using get_dummies()

In [54]:
import pandas
pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, 
columns=None, sparse=False, drop_first=False, dtype=None)

NameError: ignored

In [56]:
# using get_dummies on education column
#encoded = pd.get_dummies(df.Education)
# Concatenate the dummies to original dataframe
#merged_data = pd.concat([df, encoded], axis='columns')
# dropping the original column which was not encoded
#merged_data.drop(['Education',’Under-Graduate’], axis='columns')
# print the dataframe
#print(merged_data)

In [58]:
#Method 2: Using replace()

#data['col'].replace(['val1','val2'],[0,1])

Which encoding technique to use?
In order to know when to use which encoding technique, we need to understand our data well. We then need to decide which model to apply.

For example, if there are more than 15 categorical features and we decide to use the support vector machine (SVM) algorithm, the training time might increase as SVM is slow. Feeding it many features separately adds to the model’s complexity and training time.

Below are some key points to note when choosing an encoding technique:

Use find and replace method
When preserving the sequence is important as this approach helps maintain the order.
When the data is ordinal or represents some kind of intensity. For example, if the values of a variable are small, medium, and big, we can map them to 1, 2, and 3 respectively.
Use one-hot encoding
When the categorical feature has no order or is not ordinal. For example, the city where a person is in is not ordinal so one-hot encoding can be used for such types of columns.
When the number of unique categorical features is less. This is because more features increase the model’s complexity and training time.
Use label encoding
When the categorical feature has some order or is ordinal. For example, an army’s position is ordinal and the highest position has a high number.
When the number of categories is large.
We have explored the various ways to encode categorical data along with their issues and suitable use cases. To summarize, encoding is a crucial and unavoidable part of feature engineering. It’s important to know the advantages and limitations of all the methods used too so that the model can learn properly.